$title-font: "Kalam", cursive;
$primary-font: "Raleway", sans-serif;
h1, h2{
    font-family: $title-font;
}
p{
    font-family: $primary-font;
}
body{
    background-color: rgb(240, 240, 240);
}

main{
    background-color: #FFF;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgb(36, 36, 36);
}

img{
    width: 1000px;
}